# Markdown format

## Example

# heading1
## heading2
### heading3
#### heading4
##### heading5
###### heading6
####### heading7

# Python
## Python Installations, Execution ways, Jupyter Installation

## Variable
    - to store a value
    - to access the value in different functions
    - to change value

In [1]:
a=10
print(a)

10

In [2]:
a

10

In [3]:
b=20

In [4]:
b

20

In [5]:
a=100
b='KG'
a,b

(100, 'KG')

## Data types
    -int -> only numbers
    -float -> decimal points
    -string -> either with single or double quotes

In [11]:
p = 9.85
q='krishna'
p,q

(9.85, 'krishna')

In [12]:
print(p,q)

9.85 krishna

# Type
    - to know the data type for that value
    -type(variablename,datastructure)

In [13]:
type(p)

float

In [14]:
r=100
print(r)
print(type(r))

100
<class 'int'>

In [15]:
type(a),type(p),type(q)

(int, float, str)

In [16]:
print(type(a),type(p),type(q))

<class 'int'> <class 'float'> <class 'str'>

## Input():
    - By default it will be considered as a string value
    - print(), read()

In [17]:
a=input()
print(a)

26
26

## TypeCasting
    - converting one data type into another data type
    - int(), str(), float()

In [18]:
n=int(input("Enter only integer values: "))
print(n, type(n))

Enter only integer values: 12
12 <class 'int'>

In [19]:
n=float(input("Enter only integer values: "))
print(n, type(n))

Enter only integer values: gayathri

ValueError: could not convert string to float: 'gayathri'

In [20]:
n=float(input("Enter only integer values: "))
print(n, type(n))

Enter only integer values: 9.85
9.85 <class 'float'>

In [22]:
n=int(input("Enter only integer values: "))
print(n, type(n))

Enter only integer values: 10
10 <class 'int'>

In [24]:
x=int(input("Enter integer values: "))
y=float(input("Enter float values: "))
a=float(x)
b=int(y)
print("Conversion of int value is: ",a)
print("Conversion of float value is: ",b)

Enter integer values: 26
Enter float values: 9.85
Conversion of int value is:  26.0
Conversion of float value is:  9

In [31]:
x=int(input("Enter integer values: "))
y=float(input("Enter float values: "))
print("Conversion of int value is: ",float(x))
print("Conversion of float value is: ",int(y))
print("string in both cases is "+"''"+str(x)+"''"+str(y)+"'")

Enter integer values: 26
Enter float values: 2.6789
Conversion of int value is:  26.0
Conversion of float value is:  2
string in both cases is ''26''2.6789'

## styling text
    - bold -> **  ** or __  __
    - italic -> * * or _  _
    - strikethrough -> ~~  ~~
    - bold and nested italic **  ** and _  _
    - all bold and italic ***  ***

**Python programming**
*Python programming*
__python__
_python_
~~python~~
**Python
_Programming_in jupyter**
***Python Programming***

## Quoting text


> jupyter notebook

## Lists

- KRISHNA GAYATHRI
- TEJASWINI
- PUJITHA
- NIHARIKA
- SOUNDARYA

### lists with numbering
1. KRISHNA GAYATHRI
2. TEJASWINI
3. PUJITHA
4. NIHARIKA
5. SOUNDARYA

### lists with random numbering
26. KRISHNA GAYATHRI
34. TEJASWINI
8. PUJITHA
18. NIHARIKA
21. SOUNDARYA

## Nested lists

1. Pace Institute of technology of sciences
    -Branches
        -CSE
        -ECE
        -EEE
        -CIVIL
        -AME
        -IT
    -Courses in CSE
        -C
        -C++
        -JAVA
        -PYTHON

## Task lists
- [x] for marking a task as complete

- [x] complete assignments
- []  do the task
- [] submitting project report