# using emoji ðŸ˜Šâœ”

## Output format

In [2]:
n=int(input("Enter a value: "))
m=input("Enter name: ")
print("Entered number is: %d"%n)
print("Entered name is: %s"%m)

Enter a value: 26
Enter name: Krishna Gayathri
Entered number is: 26
Entered name is: Krishna Gayathri

In [3]:
print("Entered number is: %d and entered name is: %s"%(n,m))

Entered number is: 26 and entered name is: Krishna Gayathri

In [4]:
print("Entered number is: {} and entered name is: {}".format(n,m))
print("Entered name is: {} and entered number is: {}".format(m,n))

Entered number is: 26 and entered name is: Krishna Gayathri
Entered name is: Krishna Gayathri and entered number is: 26

### Operators
    -arithmetic----> +,-,*,/,//,**-exponential
    -logical-----> AND,OR,NOT
    -bitwise--->&&,||,>>,<<
    -relational---> ==,>=,>,<=,<,!=
    -assignment----> +=,-=,*=,/=,%=
    -membership---> in,not in
    -identity----> is,is not

In [7]:
a=15
print(a>>2)

3

## Conditional Statements
    - to check whether the given condition is true or false
    - if, if-else, nested if,elif ladder

### if statement
```
    syntax:
        if(condition):
            //statements

In [15]:
x=int(input())
if x == 26:
    print("Entered value is {0}".format(x))
    print(x)

26
Entered value is 26
26

In [9]:
x=int(input())
if x == 26:
    print("Entered value is ",x)

26
Entered value is  26

## if else condition

In [17]:
p=int(input())
q=int(input())
if p==q:
    print("Entered values {} and {} are equal".format(p,q))
else:
    print("Entered values {} and {} are unequal".format(p,q))

26
16
Entered values 26 and 16 are unequal

## nested if(if inside an if)
```
    used for one or more cases
    Syntax is:
        if(condition-1):
            if(condition-2):
                //stmts
            else:
                //stmts
         else:
             //stmts

In [19]:
n=int(input())
if(n<=200):
    if(n==100):
        print("Entered value {} is equal to 100".format(n))
    else:
        print("Entered value {} is not equal to 100 but it is lower than 200".format(n))
else:
    print("Entered value is greater than 200".format(n))

26
Entered value 26 is not equal to 100 but it is lower than 200

In [20]:
n=int(input())
if(n<=200):
    if(n==100):
        print("Entered value {} is equal to 100".format(n))
    else:
        print("Entered value {} is not equal to 100 but it is lower than 200".format(n))
else:
    print("Entered value is greater than 200".format(n))

100
Entered value 100 is equal to 100

In [21]:
n=int(input())
if(n<=200):
    if(n==100):
        print("Entered value {} is equal to 100".format(n))
    else:
        print("Entered value {} is not equal to 100 but it is lower than 200".format(n))
else:
    print("Entered value is greater than 200".format(n))

295
Entered value is greater than 200

## Elif -> Two or more n cases
```
    Syntax:
        if(conditon-1):
            //stmnts
        elif(condition-2):
            //stmnts
        elif(condition-3):
            //stmnts
        ............
        ............
        ............
        elif(condition-n):
            //stmnts
        else:
            //stmnts

In [23]:
num=int(input())
if num%2 == 0 and num%4==0:
    print("Entered value {} is divisible by 2 and 4".format(num))
elif num%2==0:
    print("Entered value {} is divisible by 2".format(num))
else:
    print("Entered value {} is not divisible by 2".format(num))

26
Entered value 26 is divisible by 2

In [24]:
num=int(input())
if num%2 == 0 and num%4==0:
    print("Entered value {} is divisible by 2 and 4".format(num))
elif num%2==0:
    print("Entered value {} is divisible by 2".format(num))
else:
    print("Entered value {} is not divisible by 2".format(num))

20
Entered value 20 is divisible by 2 and 4

In [25]:
num=int(input())
if num%2 == 0 and num%4==0:
    print("Entered value {} is divisible by 2 and 4".format(num))
elif num%2==0:
    print("Entered value {} is divisible by 2".format(num))
else:
    print("Entered value {} is not divisible by 2".format(num))

30
Entered value 30 is divisible by 2

## Control Statements, Iterations, loops
    - to control the flow of execution
    - For, While

### FOR -> [for particular ranges  ==> [known ranges]]
```
    Syntax:
        for iteration_variable in iterator:
            //stmnts
            
        for iteration_variable in range():
            //stmnts

### Range
```
    range(n):
        it starts from 0 to n-1
        eg. range(5) --> 0,1,2,3,4
    range(n,m)
        it starts from n to m-1
        eg. range(4,8) --> 4,5,6,7
    range(n,m,step)
        eg. range(5,10,2)--> 5,7,9
    if step value is not considered, then the default step value is 1

In [30]:
n = int(input("Enter a range value: "))
for num in range(n):
    print(num)

Enter a range value: 5
0
1
2
3
4

In [32]:
p = int(input("Enter Starting range: "))
q = int(input("Enter Ending range: "))
for i in range(p,q):
    print(i, end=" ")

Enter Starting range: 10
Enter Ending range: 26
10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25

In [33]:
p = int(input("Enter Starting range: "))
q = int(input("Enter Ending range: "))
s = int(input("Enter Step value: "))
for i in range(p,q,s):
    print(i, end=" ")

Enter Starting range: 100
Enter Ending range: 200
Enter Step value: 10
100 110 120 130 140 150 160 170 180 190

In [36]:
#numbers in reverse order 
p = int(input("Enter Starting range: "))
q = int(input("Enter Ending range: "))
for i in range(q,p,-1):
    print(i, end=" ")

Enter Starting range: 1
Enter Ending range: 10
10 9 8 7 6 5 4 3 2

In [37]:
#numbers in reverse order 
p = int(input("Enter Starting range: "))
q = int(input("Enter Ending range: "))
for i in range(q,p,-5):
    print(i, end=" ")

Enter Starting range: 1
Enter Ending range: 100
100 95 90 85 80 75 70 65 60 55 50 45 40 35 30 25 20 15 10 5

In [38]:
#numbers in reverse order 
p = int(input("Enter Starting range: "))
q = int(input("Enter Ending range: "))
s = int(input("Enter step value to reverse the numbers: "))
for i in range(q,p,-s):
    print(i, end=" ")

Enter Starting range: 10
Enter Ending range: 100
Enter step value to reverse the numbers: 10
100 90 80 70 60 50 40 30 20

# Practice

## Basic formatting
### example:

In [1]:
print('{0} {1}'.format('Krishna','Gayathri'))

Krishna Gayathri

In [4]:
print('{0} {0}'.format('Krishna','Gayathri'))
print('{1} {1}'.format('Krishna','Gayathri'))

Krishna Krishna
Gayathri Gayathri

In [3]:
# reversing the order format
print('{1} {0}'.format('Krishna','Gayathri'))

Gayathri Krishna

## Aligning Strings

In [10]:
#right alignment of strings
#here - represents space
print('{:>10}'.format('python')) #----python
print('{:>10}'.format('code'))   #------code

    python
      code

In [11]:
# left alignment of strings
print('{:10}'.format('python')) #python----
print('{:10}'.format('code'))   #code------

python
code

In [12]:
# center alignment
print('{:^15}'.format('python'))

    python

## Truncating long strings

In [13]:
print('{:.7}'.format('Krishna Gayathri'))

Krishna

## formatting numbers

In [15]:
print('{:+d}'.format(26)) # number is displayed with positive sign
print('{: d}'.format(-26)) # number is displayed with negative sign
print('{: d}'.format(26)) # number is displayed

+26
-26
 26

In [17]:
print('{:=+5d}'.format(26))
print('{:=5d}'.format(-26))

+  26
-  26